/* Global Sozlamalar va Telegram Uslubi */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1e2124; /* To ªq kulrang fon */
    color: #f5f5f5; /* Oq matn */
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}

/* Sahifalarni boshqarish */
.page {
    display: none;
    padding: 20px;
}

.page.active {
    display: block;
}

/* Sarlavha va Qidiruv */
header {
    background-color: #2c2f33; /* Header foni */
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.app-title {
    color: #7289da; /* Brend rangi */
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.8em;
}

#searchInput {
    width: 95%;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: #40444b;
    color: #f5f5f5;
    font-size: 1em;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Katalog Uslubi */
.section-title {
    border-bottom: 2px solid #7289da;
    padding-bottom: 5px;
    margin-top: 20px;
    font-size: 1.5em;
    color: #7289da;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.movie-card {
    background-color: #2c2f33;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s;
    cursor: pointer;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-info {
    padding: 10px;
    text-align: center;
}

.card-info h3 {
    font-size: 1em;
    margin: 5px 0;
    color: #f5f5f5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-info p {
    font-size: 0.8em;
    color: #99aab5;
    margin: 0;
}

/* Pleer Uslubi */
.video-container {
    background-color: #000;
    width: 100%;
    height: 250px; /* Mobil uchun balandlik */
    margin: 15px 0;
    border-radius: 8px;
    overflow: hidden;
}

#playerContent iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.back-btn {
    background-color: #7289da;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: bold;
}

.description-text {
    background-color: #2c2f33;
    padding: 15px;
    border-radius: 8px;
    line-height: 1.6;
    margin-top: 20px;
}
