body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c; /* Telegram Dark foniga yaqin */
    color: #ffffff;
    padding: 20px;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

#searchInput {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
}

#movieContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie-card {
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 15px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

.movie-card button {
    background-color: #007bff; /* Telegram ko ªk rangiga yaqin */
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

#closeButton {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}
